{% extends 'base.html' %}

{% block content %}
<!-- TODO FIX THIS -->
<!-- <a class="sapphire-btn" href="{% url 'event_new' %}">Add event</a> -->
{% for event in object_list %}
    <div>
        <h2>{{ event.title }}</h2>
        <ul>

            <li>{{ event.description }}</li>
            <li>{{ event.location }}</li>
            <li>{{ event.start_date }}</li>
            <li>{{ event.end_date }}</li>
            <li>{{ event.price }}</li>
        </ul>
    </div>
{% endfor %}
{% endblock content %}