{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to <span class="logo">localè</span></h1>
        <a class="sapphire-btn" href="{% url 'day_new' %}">Create a day!</a>
    </div>
    
    {% for day in object_list %}
        <div class="card">
            <div class="card-body">
            <h3><a href="{% url 'day' day.pk %}">{{ day.title }}</a></h3>
            <p>{{ day.date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}